<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>
    <%- include("partials/header.html") %>
    <%- include("partials/steps.html") %>
    <%- include("partials/services.html") %>
    <%- include("partials/portfolio.html") %>
    <%- include("partials/about.html") %>
    <%- include("partials/contact.html") %>
    <%- include("partials/footer.html") %>
</body>
</html>